AddType application/octet-stream jar
AddType text/plain;charset=iso-8859-1 csv
AddType text/plain;charset=GB2312 gb2312csv
AddType text/x-java;charset=iso-8859-1 java
AddType text/x-bash;charset=iso-8859-1 sh

Redirect permanent /utils/csvlexer.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CSVLexor.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CSVlexor.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csvlexor.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CVSLexer.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/cvslexer.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CSVParser.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csvparser.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CVSParser.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/cvsparser.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CSVReader.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csvreader.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CVSReader.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/cvsreader.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CSVLexer.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csv.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/CVS.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/cvs.html http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csv/ http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csv http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/cvs/ http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/cvs http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csv/ http://ostermiller.org/utils/CSV.html
Redirect permanent /utils/csv http://ostermiller.org/utils/CSV.html

Redirect permanent /utils/excel.html http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/Excel.html http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/excel http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/Excel http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/excelcsv.html http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/excelcsv http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/ExcelCSV http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/ExcelCSVLexer.html http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/ExcelCSVPrinter.html http://ostermiller.org/utils/ExcelCSV.html
Redirect permanent /utils/ExcelCSVParser.html http://ostermiller.org/utils/ExcelCSV.html

Redirect permanent /utils/base64.html http://ostermiller.org/utils/Base64.html
Redirect permanent /utils/base64/ http://ostermiller.org/utils/Base64.html
Redirect permanent /utils/base64 http://ostermiller.org/utils/Base64.html

Redirect permanent /utils/browser.html http://ostermiller.org/utils/Browser.html
Redirect permanent /utils/browser/ http://ostermiller.org/utils/Browser.html
Redirect permanent /utils/browser http://ostermiller.org/utils/Browser.html

Redirect permanent /utils/passworddialog.html http://ostermiller.org/utils/PasswordDialog.html
Redirect permanent /utils/passworddialog/ http://ostermiller.org/utils/PasswordDialog.html
Redirect permanent /utils/passworddialog http://ostermiller.org/utils/PasswordDialog.html
Redirect permanent /utils/password.html http://ostermiller.org/utils/PasswordDialog.html
Redirect permanent /utils/password/ http://ostermiller.org/utils/PasswordDialog.html
Redirect permanent /utils/password http://ostermiller.org/utils/PasswordDialog.html

Redirect permanent /utils/straightstreamreader.html http://ostermiller.org/utils/StraightStreamReader.html
Redirect permanent /utils/straightstreamreader/ http://ostermiller.org/utils/StraightStreamReader.html
Redirect permanent /utils/straightstreamreader http://ostermiller.org/utils/StraightStreamReader.html

Redirect permanent /utils/stringtokenizer.html http://ostermiller.org/utils/StringTokenizer.html
Redirect permanent /utils/stringtokenizer/ http://ostermiller.org/utils/StringTokenizer.html
Redirect permanent /utils/stringtokenizer http://ostermiller.org/utils/StringTokenizer.html
Redirect permanent /utils/tokenizer.html http://ostermiller.org/utils/StringTokenizer.html
Redirect permanent /utils/tokenizer/ http://ostermiller.org/utils/StringTokenizer.html
Redirect permanent /utils/tokenizer http://ostermiller.org/utils/StringTokenizer.html
Redirect permanent /utils/CSVCharsetTest.csv http://ostermiller.org/utils/CSVCharsetTest.gb2312csv

Redirect permanent /utils/CircularCharBuffer.html http://ostermiller.org/utils/CircularBuffer.html
Redirect permanent /utils/CircularByteBuffer.html http://ostermiller.org/utils/CircularBuffer.html
Redirect permanent /utils/CircularObjectBuffer.html http://ostermiller.org/utils/CircularBuffer.html

Redirect permanent /utils/StringHelper.html: http://ostermiller.org/utils/StringHelper.html
Redirect permanent /utils/StringHelper.java: http://ostermiller.org/utils/StringHelper.html
Redirect permanent /utils/StringHelper.java http://ostermiller.org/utils/StringHelper.html

Redirect permanent /utils/doc/com/index.html http://ostermiller.org/utils/doc/
Redirect permanent /utils/doc/com/Ostermiller/index.html http://ostermiller.org/utils/doc/
Redirect permanent /utils/doc/com/Ostermiller/util/index.html http://ostermiller.org/utils/doc/
Redirect permanent /utils/doc/resources/index.html http://ostermiller.org/utils/doc/
Redirect permanent /utils/ArrayEnumeration.html http://ostermiller.org/utils/
Redirect permanent /utils/ArrayHelperTests.html http://ostermiller.org/utils/
Redirect permanent /utils/ArrayIterator.html http://ostermiller.org/utils/
Redirect permanent /utils/BadDelimeterException.html http://ostermiller.org/utils/
Redirect permanent /utils/BadDelimiterException.html http://ostermiller.org/utils/
Redirect permanent /utils/BadLineEndingException.html http://ostermiller.org/utils/
Redirect permanent /utils/BadQuoteException.html http://ostermiller.org/utils/
Redirect permanent /utils/Base64DecodingException.html http://ostermiller.org/utils/
Redirect permanent /utils/Base64Tests.html http://ostermiller.org/utils/
Redirect permanent /utils/BinaryDataException.html http://ostermiller.org/utils/
Redirect permanent /utils/BrowserCommandLexer.html http://ostermiller.org/utils/
Redirect permanent /utils/BufferOverflowException.html http://ostermiller.org/utils/
Redirect permanent /utils/CGILexer.html http://ostermiller.org/utils/
Redirect permanent /utils/CircularBufferTests.html http://ostermiller.org/utils/
Redirect permanent /utils/ConcatInputStream.html http://ostermiller.org/utils/
Redirect permanent /utils/ConcatReader.html http://ostermiller.org/utils/
Redirect permanent /utils/ConcatTests.html http://ostermiller.org/utils/
Redirect permanent /utils/CSVParse.html http://ostermiller.org/utils/
Redirect permanent /utils/CSVPrinter.html http://ostermiller.org/utils/
Redirect permanent /utils/CSVPrint.html http://ostermiller.org/utils/
Redirect permanent /utils/CSVTests.html http://ostermiller.org/utils/
Redirect permanent /utils/EnumerationIterator.html http://ostermiller.org/utils/
Redirect permanent /utils/ExecHelperTests.html http://ostermiller.org/utils/
Redirect permanent /utils/IteratorEnumeration.html http://ostermiller.org/utils/
Redirect permanent /utils/LabeledCSVParserTests.html http://ostermiller.org/utils/
Redirect permanent /utils/MD5InputStream.html http://ostermiller.org/utils/
Redirect permanent /utils/MD5OutputStream.html http://ostermiller.org/utils/
Redirect permanent /utils/MD5Tests.html http://ostermiller.org/utils/
Redirect permanent /utils/NameValuePair.html http://ostermiller.org/utils/
Redirect permanent /utils/NoCloseInputStream.html http://ostermiller.org/utils/
Redirect permanent /utils/NoCloseOutputStream.html http://ostermiller.org/utils/
Redirect permanent /utils/NoCloseReader.html http://ostermiller.org/utils/
Redirect permanent /utils/NoCloseWriter.html http://ostermiller.org/utils/
Redirect permanent /utils/ParallelizerTests.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordVerifier.html http://ostermiller.org/utils/
Redirect permanent /utils/PropertiesLexer.html http://ostermiller.org/utils/
Redirect permanent /utils/PropertiesToken.html http://ostermiller.org/utils/
Redirect permanent /utils/SignificantFiguresTests.html http://ostermiller.org/utils/
Redirect permanent /utils/SizeLimitInputStreamTests.html http://ostermiller.org/utils/
Redirect permanent /utils/StringHelperTests.html http://ostermiller.org/utils/
Redirect permanent /utils/TokenizerTests.html http://ostermiller.org/utils/
Redirect permanent /utils/UberPropertiesTests.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_cz.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_da.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_de.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_en.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_en_US.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_es.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_fr.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_it.html http://ostermiller.org/utils/
Redirect permanent /utils/Browser_pl.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_cz.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_da.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_de.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_en.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_en_US.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_es.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_fr.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_it.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_nl.html http://ostermiller.org/utils/
Redirect permanent /utils/PasswordDialog_pl.html http://ostermiller.org/utils/
Redirect permanent /utils/RandPass_de_DE.html http://ostermiller.org/utils/
Redirect permanent /utils/RandPass_de.html http://ostermiller.org/utils/
Redirect permanent /utils/RandPass_en.html http://ostermiller.org/utils/
Redirect permanent /utils/RandPass_en_US.html http://ostermiller.org/utils/
