a:link {
text-decoration:none;
color:#000099;
}
a:visited{
text-decoration:none;
color:purple;
}
a:hover {
text-decoration:underline;
}

body {
font-family:sans-serif;
font-size:12pt;
}

h1, h2, h3, h4, h5, h6 {
font-family:serif;
}

h1 {
font-size:22pt;
}
h2 {
font-size:18pt;
}
h3 {
font-size:14pt;
}
ul {
list-style-position:inside;
list-style-type:circle;
padding-left:0;
padding-right:0;
padding-top:.2cm;
padding-bottom:.2cm;
margin:0;
}
br {
display:block;
margin-bottom:0.5cm;
}
ul ul {
list-style-position:inside;
list-style-type:square;
padding-left:0.3cm;
padding-right:0;
padding-top:0;
padding-bottom:0;
margin:0;
}
.nav{
font-size:smaller;
background-color:#EBFFED;
}
.main{
padding-left:0.5cm;
}
div.install {
position:relative;
float:right;
width:25%;
border-left:thin inset #000099;
border-bottom:thin inset #000099;
margin-left:1cm;
margin-bottom:1cm;
padding-left:15px;
padding-bottom:15px;
}
.download table {
border:thin black solid;
}
.download table tr td, .download table tr th {
border:thin black solid;
padding:.2cm;
}
div.examplecode {
float:right;
border:thin black ridge;
margin:.3cm;
padding:.3cm;
width:13cm;
overflow:scroll;
}

div.examplecode pre, div.programinstructions pre {
padding-top:.3cm;
padding-bottom:.3cm;
border-top:thin black ridge;
border-bottom:thin black ridge;
}

div.securityalert {
float:left;
border:thin black ridge;
margin:.3cm;
padding:.3cm;
width:5cm;
}

div.securityalert h3 {
color:red;
}

div.programinstructions {
border:thin black ridge;
margin:.3cm;
padding:.3cm;
}

div.i18n {
float:right;
border:thin black ridge;
margin:.3cm;
padding:.3cm;
width:5cm;
}

hr {
color:black;
height:1px;
}

/* Syntax Highlighting */
body {
	background:white;
}
.tag{
	font-weight:bold;
	color:blue;
}
.endtag{
	color:blue;	
}
.reference{
	color:black;
}
.name{
	font-weight:bold;
	color:maroon;
}
.value{
	font-style: italic;
	color:maroon;
}
.text{
	font-weight:bold;
	color:black;
}
.reservedWord{
	color:blue;
}
.identifier{
	color:black;
}
.literal{
	color:maroon;
}
.separator{
	color:navy;
}
.operator{
    font-weight:bold;
    color:navy;
}
.comment{
	color:green;
}
.preprocessor{
	color:purple;
}
.whitespace{
}
.error{
	color:red;
}
.unknown{
	color:orange;
}
div.sitenav {
    text-align:right;
    font-size:smaller;
}
