URL url = new URL("http://....");
HttpURLConnection connection = (HttpURLConnection)url.openConnection();
connection.setRequestProperty(
    "Authorization",
    "Basic " + Base64.encode(
        username + ":" + password
    )
);
InputStream in = connection.getInputStream();
