Parallelizer pll = new Parallelizer();
for (int i=0; i<10; i++){
    final int j = i;
    pll.run(
        new Runnable() {
            @Override public void run() {
                System.out.println("Hello World " + j);
            }
        }
    );
}
pll.join();
