// No configuration needed, the following just work
Date d1 = new DateTimeParse().parse("January 1, 1805");
Date d2 = new DateTimeParse().parse("1805-03-24 11:21:33");
Date d3 = new DateTimeParse().parse("11:21 Jan 4th, 1805");
Date d4 = new DateTimeParse().parse("03-04-1805");