  ----
  Helper Methods for Arrays
  ----
  Stephen Ostermiller;
  meta-description=Java libraries for working with arrays.;
  ----

Helper Methods for Arrays

    * {{{src/ArrayHelper.java.html}ArrayHelper.java Source Code}}

    * {{{javadoc/ArrayHelper.html}ArrayHelper Javadoc}}

  Methods that are useful when working with arrays.  Contains utilities to 
  concatenate arrays, print arrays, and compare arrays.

*Example

  Concatenate two arrays into a single longer array
  
%{code-snippet|brush=java|file=src/site/snippet/ArrayHelperCat.java.snippet}
