  ----
  CmdLn: Java Command Line Parser
  ----
  Stephen Ostermiller;
  meta-description=A Java utility to parse command line arguments and options.;
  ----

CmdLn: Java Command Line Parser

    * {{{./src/CmdLn.java.html}CmdLn.java Source Code}}

    * {{{./javadoc/CmdLn.html}CmdLn Javadoc}}

  A command line parser for array of strings passed to Java main methods.

  There are three ways to use the command line parser, as detailed with three examples
  below.  Each of the examples creates a command line application that accepts
  --help --file and --delay arguments with the following help message:

----------------------------------------
demo command line application
  -f --file <?>   file to open
  --delay <?>     delay in seconds (default 5 seconds)
----------------------------------------

*Option Enum

%{code-snippet|brush=java|file=src/site/snippet/CmdLnOptionEnum.java.snippet}

*Call Back to Listeners

%{code-snippet|brush=java|file=src/site/snippet/CmdLnCallBack.java.snippet}

*Options by Name

%{code-snippet|brush=java|file=src/site/snippet/CmdLnByName.java.snippet}
