  ----
  Concatenation Streams
  ----
  Stephen Ostermiller;
  meta-description=Combine multiple streams of incoming data to create a single stream;
  ----

Concatenation Streams

  Concatenation Streams allow multiple input sources to be combined into a singe source stream.

ConcatInputStream

    * {{{./src/ConcatInputStream.java.html}ConcatInputStream.java Source Code}}

    * {{{./javadoc/ConcatInputStream.html}ConcatInputStream Javadoc}}

  Combines multiple byte stream sources into a single byte stream.

*Example

%{code-snippet|brush=java|file=src/site/snippet/ConcatInputPrepend.java.snippet}

ConcatReader

    * {{{./src/ConcatReader.java.html}ConcatReader.java Source Code}}

    * {{{./javadoc/ConcatReader.html}ConcatReader Javadoc}}

  Combines multiple character stream sources into a single character stream.

*Example

%{code-snippet|brush=java|file=src/site/snippet/ConcatReaderPrepend.java.snippet}
