  ----
  Download
  ----
  Stephen Ostermiller;
  meta-description=Download the open source OstermillerUtil Java Utilities;
  ----

Download com.Ostermiller.util Java Utilities

  The latest version of the Ostermiller Java utils is ${project.version}.

*Latest release

**Latest binary release

  The binary release contains two jar files.  The first contains the compiled
  class files.  The second contains the source java files.   Note that this is
  not the full source code, it is only the Java source.  Some of those Java
  files are generated. See the {{{./install.html}installation page}} for instructions on using the
  jar files contained in this package. This latest release is compiled for Java 1.5 and will also work with later Java versions.
  It is available in several different package formats. Choose one of the
  following:

    * {{{./ostermillerutils-${project.version}-bin.tar.bz2}ostermillerutils-${project.version}-bin.tar.bz2}}

    * {{{./ostermillerutils-${project.version}-bin.tar.gz}ostermillerutils-${project.version}-bin.tar.gz}}

    * {{{./ostermillerutils-${project.version}-bin.zip}ostermillerutils-${project.version}-bin.zip}}

**Latest source code

  The source release contains the source code for the project and the website.
  See the {{{./modifications.html} build instructions}} to be able to compile the
  utilities yourself.  Choose one of the following:

    * {{{./ostermillerutils-${project.version}-project.tar.bz2}ostermillerutils-${project.version}-project.tar.bz2}}

    * {{{./ostermillerutils-${project.version}-project.tar.gz}ostermillerutils-${project.version}-project.tar.gz}}

    * {{{./ostermillerutils-${project.version}-project.zip}ostermillerutils-${project.version}-project.zip}}

*Older releases for specific runtime environments

**Kaffe

  The utilities have specifically been modified to be used with
  {{{http://kaffe.org/}Kaffe}} (version 1.1.4).

    * Does not use 1.5 features such as Generics

    * Classes that use Swing components have been removed: PasswordDialog,
    RandPassApplet, Browser

    * Unit test for the Circular Buffers does *NOT* pass, although the classes
    have been included.  (Seems to be threading issues in the Kaffe vm.)

  A single jar file containing both classes and source is available:

    * {{{http://ostermiller.org/utils/ostermillerutils_1_04_03_for_kaffe.jar}ostermillerutils_1_04_03_for_kaffe.jar}}

**Java 1.4

  The utilities have specifically been modified to be used with Java 1.4.

    * Does not use 1.5 features such as Generics

  A single jar file containing both classes and source is available:

    * {{{http://ostermiller.org/utils/ostermillerutils_1_05_00_for_java_1_4.jar}ostermillerutils_1_05_00_for_java_1_4.jar}}

**Java 1.3

  The utilities have specifically been modified to be used with Java 1.3.

    * URLEncoding does not use a character set

    * StringHelper methods that rely on regular expressions have been removed.

    * Exception handling is less informative.

  A single jar file containing both classes and source is available:

    * {{{http://ostermiller.org/utils/ostermillerutils_1_05_00_for_java_1_3.jar}ostermillerutils_1_05_00_for_java_1_3.jar}}

