  ----
  File Helper
  ----
  Stephen Ostermiller;
  meta-description=Java utility methods for manipulating Files.;
  ----

File Helper

    * {{{src/FileHelper.java.html}FileHelper.java Source Code}}

    * {{{javadoc/FileHelper.html}FileHelper Javadoc}}

  This file helper utility contains methods to make manipulating files easier
  from Java. Includes a method to move a file, even when it can't be renamed.
