  ----
  File Helper
  ----
  Stephen Ostermiller;
  meta-description=Methods for manipulating Files.;
  ----

File Helper






<p>This file helper utility contains methods to make manipulating files easier from Java</p>

<p>Includes a method to move a file, even when it can't be renamed.</p>


<b>File Helper</b>

  * {{{FileHelper.java.html}Source}}

  * {{{doc/com/Ostermiller/util/FileHelper.html}Documentation}}

  * {{{http://bugzilla.ostermiller.com/buglist.cgi?product=JavaUtils&component=File+Helper&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED}Bugs/Features}}





