  ----
  Basic Iterators and Enumerations
  ----
  Stephen Ostermiller;
  meta-description=Java libraries to provide basic iterator and enumerations: convert between iterators and enumerations and convert an array to an iterator or enumeration..;
  ----

Basic Iterators and Enumerations

  Classes to convert between enumerations and iterators and to 
  convert arrays to enumerations or iterators.
  
  * {{{http://bugzilla.ostermiller.com/buglist.cgi?product=JavaUtils&component=Iterators+and+Enumerations&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED}Iterator and Enumerator Bugs/Features}}
  
  
Convert an Iterator to an Enumeration: IteratorEnumeration

%{code-snippet|brush=java|file=src/site/snippet/IteratorToEnumeration.java.snippet}

  * {{{IteratorEnumeration.java.html}IteratorEnumeration Source}}

  * {{{doc/com/Ostermiller/util/IteratorEnumeration.html}IteratorEnumeration Javadoc}}



Convert an Enumeration to an Iterator: EnumerationIterator

%{code-snippet|brush=java|file=src/site/snippet/EnumerationToIterator.java.snippet}

  * {{{EnumerationIterator.java.html}EnumerationIterator Source}}

  * {{{doc/com/Ostermiller/util/EnumerationIterator.html}EnumerationIterator Javadoc}}


Convert an array to an Enumeration: ArrayEnumeration

%{code-snippet|brush=java|file=src/site/snippet/ArrayToEnumeration.java.snippet}

  * {{{ArrayEnumeration.java.html}ArrayEnumeration Source}}

  * {{{doc/com/Ostermiller/util/ArrayEnumeration.html}ArrayEnumeration Javadoc}}


Convert an array to an Iterator: ArrayIterator

%{code-snippet|brush=java|file=src/site/snippet/ArrayToIterator.java.snippet}

  * {{{ArrayIterator.java.html}ArrayIterator Source}}

  * {{{doc/com/Ostermiller/util/ArrayIterator.html}ArrayIterator Javadoc}}
