  ----
  Labeled Comma Separated Values (CSV)
  ----
  Stephen Ostermiller;
  meta-description=Read a CSV file and treat the first line as column titles.;
  ----

Labeled Comma Separated Values (CSV)






Decorates either a href="CSV.html">CSV</a> or the {{{ExcelCSV.html}Excel CSV}} parsers such that the first row read is a row of labels.



Example
<pre>LabeledCSVParser lcsvp = new LabeledCSVParser(
    new CSVParser(
        new StringReader(
            &quot;Name,Phone\n&quot; +
            &quot;Stewart,212-555-3233\n&quot; +
            &quot;Cindy,212-555-8492\n&quot;
        )
    )
);

while(lcsvp.getLine() != null){
    System.out.println(
        &quot;Name: &quot; + lcsvp.getValueByLabel(&quot;Name&quot;)
    );
    System.out.println(
        &quot;Phone: &quot; + lcsvp.getValueByLabel(&quot;Phone&quot;)
    );
}</pre>


CSV with column headings: LabeledCSVParser</a>

  The labeled CSV parser allows you to use either the {{{CSV.html}CSV}} or the {{{ExcelCSV.html}Excel CSV}} parsers, treating them as if the first line were the column headings.


<b>Labeled CSV Parser</b>

  * {{{LabeledCSVParser.java.html}Source}}

  * {{{doc/com/Ostermiller/util/LabeledCSVParser.html}Documentation}}

  * {{{http://bugzilla.ostermiller.com/buglist.cgi?product=JavaUtils&component=CSV&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED}Bugs/Features}}





