  ----
  LineEnds.java Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for LineEnds.java from the OstermillerUtils Java utilities.;
  ----

  * {{{./LineEnds.html}LineEnds Documentation and Examples}}

  * {{{./doc/com/Ostermiller/util/LineEnds.html}LineEnds Javadoc}}

LineEnds.java Source Code

%{code-snippet|brush=java|file=src/main/java/com/Ostermiller/util/LineEnds.java}
