  ----
  Line Ending Conversion
  ----
  Stephen Ostermiller;
  meta-description=Line separator adjuster that can convert text files to DOS, Windows, Unix, Java, or Macintosh format.;
  ----

Line Ending Conversion

    * {{{src/LineEnds.java.html}LineEnds.java Source Code}}

    * {{{javadoc/LineEnds.html}LineEnds Javadoc}}

  Converts text files so that they can be read by text editors on various systems.  Text editors
  such as Notepad often display squares in place of line endings they can't understand, causing
  text formatting to be lost.

*Features

    * Text formats supported

        * DOS

        * Windows

        * UNIX

        * Java

        * Mac

    * Reads files in any of the supported formats, or files that are in mixed formats.

    * Can re-write in any format, but defaults to the correct format for the current system.

    * Only re-writes files which are not already in the correct format.

    * Detects binary files and does not modify those files unless forced.

*Command Line Program

  To run the program use the following command line:

----------------------------------------
java -classpath utils.jar com.Ostermiller.util.LineEnds <files>
----------------------------------------

----------------------------------------
LineEnds [-dnrsfvqQ] <files>

   Adjusts the line endings in files.
   If no files are specified standard in and out will be used.

   --help                 Print this help message.
   --version              Print out the version number.
   --about                Print out license and contact info.
   -d --windows --dos     Use the Windows/DOS line ending.
   -n --unix --java       Use the UNIX/Java line ending.
   -r --mac               Use the Macintosh line ending.
   -s --system            Use the current system's line ending. (default)
   -f --force             Always modify files, even binary files.
   --noforce              Don't modify binary files. (default)
   -v --verbose           Print a message for each file modified.
   -q --quiet             Print error messages. (default)
   -Q --reallyquiet       Print nothing.
----------------------------------------

*Internationalization
  
  Included languages:

    * English

  Translations gladly accepted.  Please translate {{{src/LineEnds.properties.html}LineEnds.properties}}.
  You may want to use: {{{http://attesoro.org/}Attesoro - A Java Translation Editor}}

