  ----
  MD5
  ----
  Stephen Ostermiller;
  meta-description=Generate MD5 hash sums.;
  ----

MD5

    * {{{./src/MD5.java.html}MD5.java Source Code}}

    * {{{./javadoc/MD5.html}MD5 Javadoc}}


  MD5 is a cryptographic one way hash algorithm.  These classes compute MD5 for
  Java Strings, byte arrays, or streams.  MD5 is now considered a weak
  algorithm.  New applications should consider more secure one way hashes.

  This class takes as input a message of arbitrary length and produces as
  output a 128-bit "fingerprint" or "message digest" of the input. It is
  conjectured that it is computationally infeasible to produce two messages
  having the same message digest, or to produce any message having a given
  pre-specified target message digest. The MD5 algorithm is intended for
  digital signature applications, where a large file must be "compressed" in a
  secure manner before being encrypted with a private (secret) key under a
  public-key cryptosystem such as RSA.

  This class is based on work by
  {{{http://santtu.iki.fi/md5/}Santeri Paavolainen}}.
  and {{{http://www.ietf.org/rfc/rfc1321.txt}RFC1321}}.  This implementation
  is several times faster and much more memory efficient than Santeri's
  implementation.


*Example

%{code-snippet|brush=java|file=src/site/snippet/MD5HelloWorld.java.snippet}

MD5 Input Stream

    * {{{./src/MD5InputStream.java.html}MD5InputStream.java Source Code}}

    * {{{./javadoc/MD5InputStream.html}MD5InputStream Javadoc}}

  A filtered input stream that computes an MD5 sum for anything read.

*Example

%{code-snippet|brush=java|file=src/site/snippet/MD5InputStreamExample.java.snippet}

MD5 Output Stream

    * {{{./src/MD5OutputStream.java.html}MD5OutputStream.java Source Code}}

    * {{{./javadoc/MD5OutputStream.html}MD5OutputStream Javadoc}}

  A filtered output stream that computes an MD5 sum for anything written.

*Example

%{code-snippet|brush=java|file=src/site/snippet/MD5OutputStreamExample.java.snippet}

*Security Alert

  The MD5 class had a bug in version 1.02.23 and earlier that miscalculated
  MD5 sums for inputs of certain odd byte lengths.  Please consider the
  implications for your application and upgrade to the most recent version.
