  ----
  NoClose Streams
  ----
  Stephen Ostermiller;
  meta-description=Create streams that cannot be closed with the regular close() mechanism.;
  ----

NoClose Streams






  Create streams that cannot be closed with the normal close() mechanism.  Instead, a reallyClose() method is provided while the close() method does nothing.


  This is useful when you have a stream to pass to methods that either read or write using the stream.  If any of the methods call the stream's close method before you are done with the stream, this class is useful.  Simply wrap your stream in one of the NoClose Streams, and pass that around.  When the other method calls the close method it will have no effect.  You can later close your stream by calling the reallyClose() method.

NoCloseStream

Interface for all four of the following classes.

NoCloseInputStream

Example
----------------------------------------
// prevent system.in from being closed
NoCloseInputStream in = new NoCloseInputStream(System.in);
// pass in to other classes:
/* somebodyelse.dosomething(in); */
in.reallyClose();
----------------------------------------


<br clear=all>

NoCloseOutputStream

Example
----------------------------------------
// prevent system.out from being closed
NoCloseOutputStream out = new NoCloseOutputStream(System.out);
// pass out to other classes:
/* somebodyelse.dosomething(out); */
out.reallyClose();
----------------------------------------


<br clear=all>

NoCloseReader

Example
----------------------------------------
// prevent a file reader from being closed
NoCloseReader in = new NoCloseReader(new FileReader("file.txt"));
// pass in to other classes:
/* somebodyelse.dosomething(in); */
in.reallyClose();
----------------------------------------


<br clear=all>

NoCloseWriter

Example
----------------------------------------
// prevent a file writer from being closed
NoCloseWriter out = new NoCloseWriter(new FileWriter("file.txt"));
// pass out to other classes:
/* somebodyelse.dosomething(out); */
out.reallyClose();
----------------------------------------



<b>NoClose Streams</b>

    * {{{NoCloseStream.java.html}NoCloseStream Source}}

    * {{{doc/com/Ostermiller/util/NoCloseStream.html}NoCloseStream Documentation}}

    * {{{NoCloseInputStream.java.html}NoCloseInputStream Source}}

    * {{{doc/com/Ostermiller/util/NoCloseInputStream.html}NoCloseInputStream Documentation}}

    * {{{NoCloseOutputStream.java.html}NoCloseOutputStream Source}}

    * {{{doc/com/Ostermiller/util/NoCloseOutputStream.html}NoCloseOutputStream Documentation}}

    * {{{NoCloseReader.java.html}NoCloseReader Source}}

    * {{{doc/com/Ostermiller/util/NoCloseReader.html}NoCloseReader Documentation}}

    * {{{NoCloseWriter.java.html}NoCloseWriter Source}}

    * {{{doc/com/Ostermiller/util/NoCloseWriter.html}NoCloseWriter Documentation}}

    * {{{http://bugzilla.ostermiller.com/buglist.cgi?product=JavaUtils&component=NoClose+Streams5&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED}Bugs/Features}}




