  ----
  NoClose Streams
  ----
  Stephen Ostermiller;
  meta-description=Create streams that cannot be closed with the regular close() mechanism.;
  ----

NoClose Streams

  Create streams that cannot be closed with the normal close() mechanism.  Instead, a 
  reallyClose() method is provided while the close() method does nothing.

  This is useful when you have a stream to pass to methods that either read or write using the 
  stream.  If any of the methods call the stream's close method before you are done with the 
  stream, this class is useful.  Simply wrap your stream in one of the NoClose Streams, and pass 
  that around.  When the other method calls the close method it will have no effect.  You can 
  later close your stream by calling the reallyClose() method.

NoCloseStream

    * {{{src/NoCloseStream.java.html}NoCloseStream.java Source Code}}

    * {{{javadoc/NoCloseStream.html}NoCloseStream Javadoc}}

  Interface for all four of the following classes.

NoCloseInputStream


    * {{{src/NoCloseInputStream.java.html}NoCloseInputStream.java Source Code}}

    * {{{javadoc/NoCloseInputStream.html}NoCloseInputStream Javadoc}}

*Example

%{code-snippet|brush=java|file=src/site/snippet/NoCloseInputStream.java.snippet}

NoCloseOutputStream

    * {{{src/NoCloseOutputStream.java.html}NoCloseOutputStream.java Source Code}}

    * {{{javadoc/NoCloseOutputStream.html}NoCloseOutputStream Javadoc}}

*Example

%{code-snippet|brush=java|file=src/site/snippet/NoCloseOutputStream.java.snippet}

NoCloseReader

    * {{{src/NoCloseReader.java.html}NoCloseReader.java Source Code}}

    * {{{javadoc/NoCloseReader.html}NoCloseReader Javadoc}}

*Example

%{code-snippet|brush=java|file=src/site/snippet/NoCloseReader.java.snippet}

NoCloseWriter

    * {{{src/NoCloseWriter.java.html}NoCloseWriter.java Source Code}}

    * {{{javadoc/NoCloseWriter.html}NoCloseWriter Javadoc}}

*Example

%{code-snippet|brush=java|file=src/site/snippet/NoCloseWriter.java.snippet}
