  ----
  Password Dialog
  ----
  Stephen Ostermiller;
  meta-description=A password dialog box written for Java Swing.;
  ----

Password Dialog

    * {{{./src/PasswordDialog.java.html}PasswordDialog.java Source Code}}

    * {{{./javadoc/PasswordDialog.html}PasswordDialog Javadoc}}

  The Java APIs do not have an easy to use password dialog box.  This one is written for swing,
  it extends JDialog.  The language displayed is chosen automatically from the system default.

[./dialog.png]

*Internationalization

  Included languages:

    * \u010Cesky

    * Dansk

    * Deutsch

    * English

    * Espa\xF1ol

    * Fran\xC7ais

    * Italiano

    * Nederlands

    * Polska

  Translations gladly accepted.  Please translate {{{./src/PasswordDialog.properties.html}PasswordDialog.properties}}.
  You may want to use: {{{http://attesoro.org/}Attesoro - A Java Translation Editor}}