  ----
  Password Dialog
  ----
  Stephen Ostermiller;
  meta-description=A password dialog box written for Java Swing.;
  ----

Password Dialog






The Java APIs do not have an easy
to use password dialog box.  This one is written for swing,
it extends JDialog.  The language displayed is chosen automatically from the system default.


  
    Internationalization - included languages:
    
    <li>&#268;esky

    <li>Dansk

    <li>Deutsch

    <li>English

    <li>Espa&ntilde;ol

    <li>Fran&ccedil;ais

    <li>Italiano

	<li>Nederlands

	<li>Polska

    
    Translations gladly accepted.  Please translate
    {{{PasswordDialog.properties.html}PasswordDialog.properties}}.<br>
	You may want to use:
	{{{http://attesoro.org/}Attesoro - A Java Translation Editor}}
 <img align=left src="dialog.png" hspace="10">


<b>Password Dialog</b>

  * {{{PasswordDialog.java.html}PasswordDialog Source}}

  * {{{doc/com/Ostermiller/util/PasswordDialog.html}PasswordDialog Documentation}}

  * {{{http://bugzilla.ostermiller.com/buglist.cgi?product=JavaUtils&component=Password+Dialog&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED}Bugs/Features}}





