  ----
  Random Password Generator
  ----
  Stephen Ostermiller;
  meta-description=Java library to generate a random String using a cryptographically secure random number generator.;
  ----

Random Password Generator

    * {{{src/RandPass.java.html}RandPass.java Source Code}}

    * {{{javadoc/RandPass.html}RandPass Javadoc}}

  Generate random passwords of arbitrary length and arbitrary alphabet.

  A cryptographically secure pseudo-random number generator is used to generate the passwords.
  Limitations an passwords such as the length, required characters, or amount of repetition may be used.

*Example

----------------------------------------
// Get an eight character password
// made up of the letters A, B, and C.
System.out.println(
	new RandPass(new char[]{'A','B','C'}).getPass(8)
);
----------------------------------------

*Java Applet

  You may {{{RandPassApplet.html}run this program as an
  applet}} in your web browser.

*Command Line Application

  To run the program use the following command line:

----------------------------------------
java -classpath utils.jar com.Ostermiller.util.RandPass
----------------------------------------

----------------------------------------
RandPass [-anFLrlRv]
Generate secure random passwords.
  --help               Print this help message.
  --version            Print out the version number.
  --about              Print out license and contact info.
  -a --alphabet chars  String of characters to use in password.
  -n --number num      Number of passwords to generate.
  -F --first chars     Characters that may be used for first character.
  -L --last chars      Characters that may be used for last character.
  -l --length num      Password length.
  -r --reps num        Maximum chars that may be repeated.
  -R --require chars   Require a character from given alphabet be present.
  -v --verify class    Java subclass of PasswordVerifier to use.
----------------------------------------
