  ----
  Significant Figures
  ----
  Stephen Ostermiller;
  meta-description=Handles parsing, rounding, and displaying numbers for scientific applications.;
  ----

Significant Figures

    * {{{src/SignificantFigures.java.html}SignificantFigures.java Source Code}}

    * {{{javadoc/SignificantFigures.html}SignificantFigures Javadoc}}

  A Java number class for figuring out how many significant figures each of the
  numbers in a calculation has and displaying the result appropriately.

*Example

  Multiplying numbers using significant figures.

%{code-snippet|brush=java|file=src/site/snippet/SigFigMultiplying.java.snippet}

*Example

  Adding numbers using significant figures.

%{code-snippet|brush=java|file=src/site/snippet/SigFigAdding.java.snippet}

*See also

  {{{http://ostermiller.org/calc/significant_figures.html}JavaScript routines and an HTML
  interface for significant figures calculations}}.
