  ----
  Straight Stream Reader
  ----
  Stephen Ostermiller;
  meta-description=An input stream reader that does no character class translation.;
  ----

Straight Stream Reader

    * {{{./src/StraightStreamReader.java.html}StraightStreamReader.java Source Code}}

    * {{{./javadoc/StraightStreamReader.html}StraightStreamReader Javadoc}}

  An input stream reader that does not do character class translation.  You
  might find this class useful for reading binary files using an API that only
  support Reader and not InputStreams.  One such example is the lexical
  analyzer JFlex.  There is some
  {{{http://www.jflex.de/manual.html#SECTION00063000000000000000}discussion}}
  in its manual about how a class like this might come in handy.  This class
  is included with the binary scanning example that comes with JFlex.
