  ----
  StraightStreamReader.java Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for StraightStreamReader.java from the OstermillerUtils Java utilities.;
  ----

  * {{{./StraightStreamReader.html}StraightStreamReader Documentation and Examples}}

  * {{{./doc/com/Ostermiller/util/StraightStreamReader.html}StraightStreamReader Javadoc}}

StraightStreamReader.java Source Code

%{code-snippet|brush=java|file=src/main/java/com/Ostermiller/util/StraightStreamReader.java}
