  ----
  String Helper
  ----
  Stephen Ostermiller;
  meta-description=Methods for formatting, manipulating, and querying Java Strings.;
  ----

String Helper

    * {{{src/StringHelper.java.html}StringHelper.java Source Code}}

    * {{{javadoc/StringHelper.html}StringHelper Javadoc}}

  String manipulation helper utilities for Java.  Methods include padding a
  string to a given length, and splitting a string based on a literal
  delimiter.
