  ----
  String Helper
  ----
  Stephen Ostermiller;
  meta-description=Methods for formatting, manipulating, and querying Java Strings.;
  ----

String Helper






String manipulation helper utilities for Java


  A String helper class with methods for padding a string to a given length, and splitting a string based on a literal delimiter.

<b>String Helper</b>

    * {{{StringHelper.java.html}StringHelper Source}}

    * {{{doc/com/Ostermiller/util/StringHelper.html}StringHelper Documentation}}

    * {{{http://bugzilla.ostermiller.com/buglist.cgi?product=JavaUtils&component=String+Helper&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED}Bugs/Features}}





