  ----
  Tabs
  ----
  Stephen Ostermiller;
  meta-description=Tab adjuster that can convert tabs to spaces and vice versa.;
  ----

Tabs

    * {{{src/Tabs.java.html}Tabs.java Source Code}}

    * {{{javadoc/Tabs.html}Tabs Javadoc}}

  Converts tabs to spaces or spaces to tabs at the beginning of each line of
  files.

Features

    * Detects binary files and does not modify those files unless forced.

    * Can guess the tab spacing in a file and convert from the guess.

  To run the program use the following command line:

----------------------------------------
java -classpath utils.jar com.Ostermiller.util.Tabs <file>
----------------------------------------

----------------------------------------
Tabs [-wgtsfVvqQ] <files>
Adjusts the tabs and spaces at the beginning of each line in files.
  If no files are specified standard input and output will be used.
  --help              Print this help message.
  --version           Print out the version number.
  --about             Print out license and contact info.
  -w --width <num>    Tab width (in spaces) of the input.
  -g --guess          Guess the tab width of the input file. (default)
  -t --tabs           Use tabs in the output.
  -s --spaces <num>   Use this many spaces (not tabs) in the output. (default=4)
  -f --force          Always modify un-formatted files, even binary files.
  --noforce           Don't modify binary files.  (default)
  -V --reallyverbose  Print a message for each file.
  -v --verbose        Print a message for each file modified.
  -q --quiet          Print error messages. (default)
  -Q --reallyquiet    Print nothing.
----------------------------------------

Internationalization

  Included languages:

    * English

  Translations gladly accepted.  Please translate
  {{{./src/Tabs.properties.html}Tabs.properties}}.
	You may want to use:
	{{{http://attesoro.org/}Attesoro - A Java Translation Editor}}.



