  ----
  Uber Properties
  ----
  Stephen Ostermiller;
  meta-description=A replacement for the java.utils.Properties class with enhancements.;
  ----

Uber Properties

    * {{{src/UberProperties.java.html}UberProperties.java Source Code}}

    * {{{javadoc/UberProperties.html}UberProperties Javadoc}}

  A replacement for the java.utils.Properties class.  This version can read and
  write properties files that are in the same format but it can handle multiple
  properties with the same name and makes comments from the files available.

%{code-snippet|brush=java|file=src/site/snippet/UberProperties.java.snippet}
