  ----
  Browser_el.properties Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for Browser_el.properties from the OstermillerUtils Java utilities.;
  ----

Browser_el.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/Browser_el.properties}
