  ----
  ConcatInputStream.java Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for ConcatInputStream.java from the OstermillerUtils Java utilities.;
  ----

ConcatInputStream.java Source Code



    * {{{../javadoc/ConcatInputStream.html}ConcatInputStream Javadoc}}

%{code-snippet|brush=java|file=src/main/java/com/Ostermiller/util/ConcatInputStream.java}
