  ----
  DateTimeParse_de.properties Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for DateTimeParse_de.properties from the OstermillerUtils Java utilities.;
  ----

DateTimeParse_de.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/DateTimeParse_de.properties}
