  ----
  DateTimeParse_en.properties Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for DateTimeParse_en.properties from the OstermillerUtils Java utilities.;
  ----

DateTimeParse_en.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/DateTimeParse_en.properties}
