  ----
  DateTimeParse_ru.properties Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for DateTimeParse_ru.properties from the OstermillerUtils Java utilities.;
  ----

DateTimeParse_ru.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/DateTimeParse_ru.properties}
