  ----
  DateTimeParse_fr.properties Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for DateTimeParse_fr.properties from the OstermillerUtils Java utilities.;
  ----

DateTimeParse_fr.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/DateTimeParse_fr.properties}
