  ----
  LineEnds.java Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for LineEnds.java from the OstermillerUtils Java utilities.;
  ----

LineEnds.java Source Code

    * {{{../LineEnds.html}LineEnds Documentation and Examples}}

    * {{{../javadoc/LineEnds.html}LineEnds Javadoc}}

%{code-snippet|brush=java|file=src/main/java/com/Ostermiller/util/LineEnds.java}
