  ----
  NoCloseStream.java Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for NoCloseStream.java from the OstermillerUtils Java utilities.;
  ----

NoCloseStream.java Source Code

    * {{{../NoCloseStream.html}NoCloseStream Documentation and Examples}}

    * {{{../javadoc/NoCloseStream.html}NoCloseStream Javadoc}}

%{code-snippet|brush=java|file=src/main/java/com/Ostermiller/util/NoCloseStream.java}
