  ----
  NoCloseReader.java Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for NoCloseReader.java from the OstermillerUtils Java utilities.;
  ----

NoCloseReader.java Source Code

    * {{{../NoCloseStream.html}NoCloseStream Documentation and Examples}}

    * {{{../javadoc/NoCloseReader.html}NoCloseReader Javadoc}}

%{code-snippet|brush=java|file=src/main/java/com/Ostermiller/util/NoCloseReader.java}
