  ----
  PasswordDialog_fr.properties Source Code
  ----
  Stephen Ostermiller;
  meta-description=View the source code for PasswordDialog_fr.properties from the OstermillerUtils Java utilities.;
  ----

PasswordDialog_fr.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/PasswordDialog_fr.properties}
